html {
    display: grid;
    background-color: #0B0E20;
    margin: 0;
    padding: 0;
  }

  .gridContainer {
    display: grid;
    grid-template-rows: auto auto auto;
    font-family: sans-serif;
    background-color: black;
    min-height: 100vh;
    margin: 100;
    padding: 100;
  }